apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: requestrr-config
  namespace: requestrr
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: local-path
  resources:
    requests:
      storage: 1Gi
